---
const { job, company, date, description } = Astro.props;
---

<li class="group h-44 w-60">
  <span
    class="text-white -bottom-[54px] absolute rounded-full text-5xl md:group-hover:animate-ping md:group-hover:animate-infinite"
    >&bull;</span
  >
  <div class="flex flex-col items-start gap-y-2">
    <p class="text-sm text-white">{date}</p>
    <h3 class="text-base font-bold text-white">{job}</h3>
    <h4 class="font-semibold text-sm text-white">
      {company}
    </h4>
    <p
      class="md:group-hover:inline md:hidden text-white max-w-60 text-xs text-pretty md:animate-fade-down md:animate-duration-300"
    >
      {description}
    </p>
  </div>
</li>
