---
const currentYear = new Date().getFullYear();
---

<footer class="opacity-80 mx-auto mt-8 container mb-4 flex justify-center">
  <div class="w-full mx-auto flex items-center justify-between py-4">
    <span class="text-sm sm:text-center text-cyan-600 dark:text-cyan-500"
      >© {currentYear}
      <strong>MasDev</strong>. Algunos derechos reservados
    </span>
    <ul
      class="hidden md:flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="/#home" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send?phone=573204255079" target="_blank" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
